.datagrid * {
  margin: 0;
  padding: 0;
}

.datagrid {
  position: relative;
  width: 100%;
  height: 100%;

  margin-top: 5vh;
  border: #aaa solid 2px;

  display: grid;
  /* grid-column-gap: 12px; */

  overflow-x: scroll;
  overflow-y: scroll;
}

.datagrid .datagrid-cell {
  padding: 6px;
}

.datagrid .action {
  width: 50px;
}

.datagrid .action img {
  display: inline-block;
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.datagrid-actions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.datagrid-actions * {
  margin: 0;
  padding: 0;
}

.datagrid-actions p {
  display: inline-block;
}

.datagrid-actions .icon {
  width: 16px;
  height: 16px;
  cursor: pointer;
}


.datagrid-actions .data-actions button {
  margin: 6px;
  padding: 0.25rem;
}

.datagrid-actions .page-actions {
  display: flex;
  flex-direction: column;
  align-items: center;
}
