.entrymodal {
  padding: 0;
  margin: 0;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 99;

  background: rgba(0, 0, 0, 0.9);
}

.entrymodal-content {


  top: 50%;
  left: 50%;
  padding: 1rem;
}

.entrymodal-content span label {
  width: 50%;
}

.entrymodal-content span input {
  width: 40%;
}

.entrymodal-content span button {
  width: 40%;
}

.entrymodal-content .modal-actions {
  width: 100%;
  display: flex;
  justify-content: center;
}
