
.topNav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.topNav li {
    display: inline;
}

.topNav li button title {
    display: inline;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 30pt;
}

.topNav li button{
    display: inline;
    background-color: #333;
    border-style: ridge;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17pt;
}

.topNav li button:hover{
    background-color: rgb(117, 117, 117);
}