
.topNav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    /* height: 10%; */
    overflow: hidden;
    position: static;
    background-color: #404040;
}

.topNav li {
    display: inline;
}

.title {
    display: inline;
    background-color: #404040;
    border: none;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17pt;
}

.fields{
    display: inline;
    background-color: #404040;
    border-style: ridge;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17pt;
}

.fields:hover{
    background-color: rgb(102, 102, 102);
}