.search{
    margin-right: 1%;
    margin-left: 21%;
    margin-top: 1%;
    padding: 30px;
    height: 1500px;
    border: 1px;
    border-style: solid;
    border-radius: 5px;
}

.search-title{
    font-size: 30px;
}


.add-form {
    margin-bottom: 20px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.form-control {
    margin: 5px 10px 5px 0;
}

.form-control label {
    display: block;
    padding: 5px;
    font-size: 17px;
}

.form-control input {
    width: 80%;
    height: 30px;
    margin: 5px 5px 5px 5px;
    padding: 3px 7px;
    font-size: 17px;
}

.form-control select {
    width: 80%;
    height: 40px;
    margin: 5px;
    padding: 3px 7px;
    font-size: 17px;
}

.form-control-check {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn {
    display: inline-block;
    background: #000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-size: 17px;
    font-family: inherit;
    cursor: pointer;
}

.btn-block {
    display: block;
    width: 20%;
}

.btn-block:hover {
    background-color: #555;
    color: white;
}

.change-page {
    width: 95%;
    margin-top: 20px;
    padding: 10px 20px;
    text-decoration: none;
}
.change-page-block{
    display: flex;
    margin: auto;
    justify-content: center;  
    align-items: center;  
}

.change-page-block p{
    display: inline;
    padding: 0px 20px;
    font-size: 20px;
}

.result-table{
    border-collapse: collapse;
    width: 100%;
}

.result-table td {
  border: 1px solid #ddd;
  padding: 8px;
}

.result-table th {
    border: 1px solid #ddd;
    padding: 8px;
  }


.result-table tr:nth-child(even){background-color: #f2f2f2;}

.result-table tr:hover {background-color: #ddd;}

.result-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #505050;
  color: white;
}

.center-box {
    /* display: inline-flex; */
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-grow: auto;
}