body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  position: absolute;
  width: 100%;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.background-img {
  background: url(./imgs/newyorkoverview.jpeg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: fixed;
  width: 100%; 
  height: 100%;
}

#header-box {
  background-color: rgba(0,0,0,.8);
  color: #fff;
}

.about-background {
  background: url(./imgs/nighttime.jpeg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: fixed;
  width: 100%; 
  height: 100%;
}

.table-background {
  background: #ffffff;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%; 
  height: 100%;
}

.violation-background {
  background: url(./imgs/statueofliberty.jpeg) no-repeat fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%; 
  height: 100%;
}

.background-backdrop{
  backdrop-filter: blur(4px);
  background-color: rgba(178, 60, 253, 0);
  width: 100%; 
  height: 100%;
}

.violation-code {
  padding: 1.25em !important;
}

.code-table {
  width: 37em !important;
}

